@font-face {
  font-family: "Circular";
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot");
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.woff")
      format("woff"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}
.home-body {
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Circular", sans-serif;
  background: rgb(39, 77, 120);
  background: linear-gradient(
    130deg,
    rgba(39, 77, 120, 1) 0%,
    rgba(28, 54, 83, 1) 36%,
    rgba(8, 15, 23, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: "Circular", Arial, Helvetica, sans-serif;
  overflow: hidden;
}
/* .mainframe {
  max-height: calc(100vh - 90px);
  height: fit-content;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
} */
.main-content {
  max-width: calc(100vw - 232px);
  width: 100%;
  margin-left: 232px;
  padding-left: 1rem;
  overflow-y: auto;
  max-height: calc(100vh - 90px);
}

.nav {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  list-style: none;
}

h1.index-headings {
  color: white;
  font-size: 36px;
  font-weight: 800;
}

h3.index-headings {
  color: white;
  font-weight: 800;
}

.main-content h6 {
  color: white;
  font-size: 10px;
  font-weight: 600px;
}

.main-content h6 .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background-color: transparent;
  border: 0px;
  font-size: 10px;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:after {
  display: block;
  content: "";
  margin-bottom: 10px;
  border-bottom: solid 2px limegreen;
  transform: scaleX(0);
  transition: 300ms ease-in-out;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover:after {
  transform: scaleX(0.5);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border: 0px;
  /* border-bottom: solid 2px limegreen; */
  font-weight: 500;
  color: limegreen;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.nav-tabs {
  border-bottom: none;
}

.dropdown-menu {
  background-color: rgba(245, 245, 245, 0.788);
  border-radius: 2px;
}

.dropdown-menu > .dropdown-item {
  font-size: 10px;
  justify-self: center;
}

.dropdown-item:after {
  display: block;
  content: "";
  margin-bottom: 10px;
  border-bottom: solid 2px limegreen;
  transform: scaleX(0);
  transition: 300ms ease-in-out;
}

.dropdown-item:hover:after {
  transform: scaleX(0.5);
}

button:focus {
  outline: none !important;
}
